.contacts li a.twitter:hover {
  color: #1DA1F2;
}
.contacts li a.instagram:hover{
  background: linear-gradient(45deg, #405de6,#5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #d6249f;
}
.avatar{
  background: url("../images/avatar-removebg.png") no-repeat;
  transition: all .2s ease-in-out;
  width: 200px;
  height: 180px;
}
.avatar:hover {
  transform: scale(1.2);
}
